
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### project ###
*error-catch*
*useful-tools*
*styling-with-sass*
*styling-with-css-module*
*styling-with-styled-components*
*api-integrate*
*router-tutorial*

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

*node_modules*
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react