.dead-zone .card-body {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dead-zone .cell {
    border: none;
}

.cell {
    width: 100px;
    height: 100px;
    flex: 0 100px;
    border: 1px dashed black;
    text-align: center;
    line-height: 96px;
}

.cell:nth-child(1),
.cell:nth-child(2) {
    border-right: none;
}

.cell.active {
    background-color: aqua;
}

.cell.active.upper {
    background-color: rebeccapurple;
}

.row {
    justify-content: center;
}

.row:first-child .cell,
.row:nth-child(2) .cell,
.row:nth-child(3) .cell {
    border-bottom: none;
}

.piece {
    width: 90px;
    height: 90px;
    border: 1px solid #ddd;
}

.piece.UPPER {
    transform: rotate(180deg);
}